# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/textbook

# Qdrant Vector Database Configuration
QDRANT_URL=https://d7368624-e41c-4f68-86a2-3a21adaa0a36.europe-west3-0.gcp.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.G2gUjTkNKRLMVjB_YrQg12MvZ0Qyas-DQ-xcQVdgrhE

# AI API Keys
OPENAI_API_KEY=your_openai_api_key
GEMINI_API_KEY=AIzaSyBnlbHEG0jT3QNh7MpX90SodbteC-vxDBg

# JWT Configuration
JWT_SECRET_KEY=your_seyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Better-Auth Configuration
BETTER_AUTH_SECRET=Miw5TqR1IX5rAdvGF1b8Pjs0nq4naiBa
BETTER_AUTH_URL=http://localhost:3000

# Application Configuration
API_V1_STR=/api/v1
PROJECT_NAME=Physical AI & Humanoid Robotics Textbook
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:3000", "http://localhost:8000"]